<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gestion Clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!--link rel="stylesheet" href="../static/EstilosGestionPedidos.css" -->
</head>


<body>
    <div class="container my-5">
        <header class="row">
            <aside class="col-md-7">
            <h3>Gestion Clientes</h3>      
            </aside>
            <aside class="col-md-3">
                <a href="/clientes/index" class="btn btn-primary"> <i class="fas fa-home"></i></a>
            </aside>
        </header>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/clientes/add}" th:object="${cliente}" method="post">
                        <div class="row">

                        	<div class="form-group col-md-8">
                                <label for="identificacion" class="col-form-label">Identificacion</label> <input type="text" th:field="*{identificacion}" class="form-control" id="identificacion" placeholder="Identificacion"> <span th:if="${#fields.hasErrors('identificacion')}" th:errors="*{identificacion}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="nomCliente" class="col-form-label">Nombres</label> <input type="text" th:field="*{nomCliente}" class="form-control" id="nomCliente" placeholder="Nombres"> <span th:if="${#fields.hasErrors('nomCliente')}" th:errors="*{nomCliente}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="apeCliente" class="col-form-label">Apellidos</label> <input type="text" th:field="*{apeCliente}" class="form-control" id="apeCliente" placeholder="Apellidos"> <span th:if="${#fields.hasErrors('apeCliente')}" th:errors="*{apeCliente}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="dirCliente" class="col-form-label">Direccion</label> <input type="text" th:field="*{dirCliente}" class="form-control" id="dirCliente" placeholder="Direccion"> <span th:if="${#fields.hasErrors('dirCliente')}" th:errors="*{dirCliente}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="ciudadCliente" class="col-form-label">Ciudad</label> <input type="text" th:field="*{ciudadCliente}" class="form-control" id="ciudadCliente" placeholder="Ciudad"> <span th:if="${#fields.hasErrors('ciudadCliente')}" th:errors="*{ciudadCliente}" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Agregar">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${clientes}" class="container my-5">
                    <div class="col-md-10">
                        <h2 th:case="null">No hay clientes registrados</h2>
                        <div th:case="*">
                           <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Identificacion</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Direccion</th>
                                        <th>Ciudad</th>
                                        <th>Editar</th>
                                        <th>Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cliente : ${clientes}">
                                        <td th:text="${cliente.identificacion}"></td>
                                        <td th:text="${cliente.nomCliente}"></td>
                                        <td th:text="${cliente.apeCliente}"></td>
                                        <td th:text="${cliente.dirCliente}"></td>
                                        <td th:text="${cliente.ciudadCliente}"></td>
                                    
                                        <td> <!--<a th:href="@{/clientes/edit/{id}(id=${cliente.id})}" class="btn btn-primary"> --> <i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><!--<a th:href="@{/clientes/delete/{id}(id=${cliente.Id})}" class="btn btn-primary">--><i class="fas fa-user-times ml-2"></i></a></td>
                                    
                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

		    


</body>

</html>